body {
    margin: 0;
    background-color: grey;

}

.container {
    display: flex;
    zoom: 200%;
    flex-direction: column;
    align-items: center;
    border: 5px solid black;
    margin: auto;
    margin-top: 20px;
    padding: 4px;
    background-color: rgb(144, 91, 229);
    border-radius: 10px;
    max-width: 300px;
    text-align: center;
}

.scoreboard {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 10px;
}

.counter {
    text-align: center;
    border: 2px solid red;
    margin: 2px;
    border-radius: 10px;
    background-color: black;
    color: greenyellow;
}

.button {
    border: 2px solid blue;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-top: 10px;

}

.button:hover {
    background-color: yellow;
    border: 2px solid red;
}

.header {
    color: yellow;
}


.new-match-button {
    margin-top: 15px;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    background-color: #fff;
    border: 2px solid #000;
}

.new-match-button:hover {
    margin-top: 15px;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    background-color: #2ecfdb;
    border: 2px solid #e86005;
    color: white;
}